<div class="ui one column page grid" data-ng-controller="ArticlesController" data-ng-init="find()">
  <div class="column" data-ng-repeat="article in articles">
    <div class="ui green secondary pointing menu">
      <a class="active item" data-ng-href="#!/articles/{{article._id}}"><strong style="font-size: 2rem;">{{article.title}}</strong></a>
      <div class="right menu">
        <div class="item" >
          <small>{{article.created | date:'medium'}}</small>
        </div>
        <div class="item">
          <small>{{article.user.name}}</small>
        </div>
      </div>
    </div>
    <div class="ui segment">
      {{article.content}}
    </div>
  </div> 
  <h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
</div>
