{% extends 'layouts/default.html' %}

{% block main %}
    <h1>Oops something went wrong</h1>
    <br>
    <span>500</span>
{% endblock %}

{% block content %}
    <div id="error-message-box">
        <div id="error-stack-trace">
            <pre>
                <code>{{error}}</code>
            </pre>
        </div>
    </div>
{% endblock %}
$
<!--
extends layouts/default

block main
  h1 Oops something went wrong
  br
  span 500

block content
  #error-message-box
    #error-stack-trace
      pre
        code!= error
-->
